body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 1000px;
}

h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    height: 50%;
}